.iw_header {
    display: flex;
    height: 63px;
    align-items: center;
    text-align: center;
    background: #1f2833;
    font-size: 20px;
}

.iw_header__left,
.iw_header__right {width: 25%;}
.iw_header nav {width: 50%;}

.iw_header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.iw_header nav ul li a {
    text-decoration: none;
    color: #f9f9f9;
}

.iw_header__right form input {
    background: #0b0c10;
    padding: 5px;
    color: #f9f9f9;
    font-size: 20px;
    border: none;
    outline: none;
    width: 80%;
}

@media screen and (max-width: 800px) {

    .iw_header {
        font-size: 18px;
    }

    .iw_header__left,
    .iw_header__right {width: 35%}
    .iw_header nav {width: 30%}

    .iw_header__left {
        font-size: 15px;
    }

    .iw_header__right form input {
        font-size: 18px;
    }
}