.moviesFound {
    text-align: center;
    font-size: 30px;
    margin: 30px auto;
}

.filterMovies {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 20px;
    justify-content: center;
    margin: auto;
}