.moviesFound {
    text-align: center;
    font-size: 30px;
    margin: 30px auto;
}

.filterMovies {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 20px;
    justify-content: center;
    margin: auto;
}

@media screen and (max-width: 990px) {
    .filterMovies {
        grid-template-columns: repeat(2, 300px);
    }
}

@media screen and (max-width: 670px) {
    .filterMovies {
        grid-template-columns: 300px;
    }
}